/* Colors */

$color-background: #1f1f1f;
$color-primary: #dbdbdb;
$color-light-text: #ffffff;
$color-button: #81C416;
$color-button-tracking: #704EF5;


/* Dimensions */

$dim-max-width: 450px;


/* Font */

$font-primary: Roboto Slab;