.day-bar{
	position: relative;
	padding-right: 0px;
	transition: all $expandTime ease-out;

	.day-time {
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		color: white;
		transition: all $expandTime ease-out;
		transform: translateX(50px);
	}

	.progress {
		position: relative;
		background-color: $color-primary;
		height: 9px;
		transition: border-radius $expandTime ease-out;
	}

	.progress-bar {
		background-color: red;
		height: 9px;
		transition: width $expandTime ease-out;

	}

	.over-time {
		background-color: blue;
		height: 9px;
		position: absolute;
		right: 0;
		top: 0;
		transition: width $expandTime ease-out;
		opacity: .3;
	}

	&.top .progress {
		border-radius: 5px 5px 0 0;
	}

	&.bottom .progress { 
		border-radius: 0 0 5px 5px;
	}

	&.expanded {
		padding-right: 50px;
		margin: 20px 0;

		.day-time {
			opacity: 1;
			transform: translateX(0);
		}

		.progress {
			border-radius: 5px;
		}
	}
}
